.dockerignore
Dockerfile*
docker-compose.yml
node_modules
.git
.gitignore
.vscode
.sql
.idea
dist/
.env
.env.*
# TODO тут бы добавить /config и service-account-key.json но тогда перестанет работать сборка для prod, и тогда придется решать эту проблему