services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev

    volumes:
      - ./:/app:delegated
      - /app/node_modules

    env_file:
      - ./.env
      - ./.env.local

    environment:
      NODE_ENV: development
      POSTGRES_HOST: postgres
      REDIS_HOST: redis_queue
      PORT: ${APP_PORT}

    command: sh -c "npm run dev"
