services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: prod

    env_file:
      - ./.env
      - ./.env.local

    volumes: []

    environment:
      NODE_ENV: production
      POSTGRES_HOST: postgres
      REDIS_HOST: redis_queue
      PORT: ${APP_PORT}
